<div class='flex justify-between items-center py-[var(--primary-gap)]'>
  <div class='flex items-center'>
    <% if product.image.attached? %>
      <%= image_tag product.image.variant(:thumb), class: 'w-20 object-cover' %>
    <% else %>
      <p>No image available</p>
    <% end %>
    <div class='flex flex-col ml-4'>
      <h2><%= product.name %></h2>
      <p><%= number_with_delimiter(product.price.to_i, delimiter: ",") %> ₫</p>
    </div>
  </div>

  <div class='flex items-center gap-4'>
    <button type="button" data-action='admin#getForm' data-url='<%= edit_admin_product_path(product) %>' class= "hover:underline"> Chỉnh sửa </button>
    <%= button_to 'Xoá', admin_product_path(product), method: :delete, class: "text-red-500 hover:underline", data: { confirm: 'bạn chắc chắn muốn xoá?' } %>
  </div>
</div>
