<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Store Management App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col" >
    <% flash.each do |type, message| %>
      <% flash_classes = { notice: "bg-blue-500", error: "bg-red-500", success: "bg-green-500" } %>
      <div id="flash-message" class="fixed top-5 left-1/2 z-[999] -translate-x-1/2 px-4 py-2 <%= flash_classes[type.to_sym] %> text-black rounded-lg shadow-lg">
        <%= message %>
      </div>
      <script>
        setTimeout(() => {
          document.getElementById('flash-message')?.remove();
        }, 5000);
      </script>
    <% end %>

    <% if content_for?(:page_layout) %>
      <%= yield(:page_layout) %>
    <% else %>
      <%= render "shared/navbar" %>
      <main class="flex-grow flex flex-col w-full">
        <%= yield %>
      </main>
    <% end %>


  </body>
</html>
